.container-second{
    background-color: red;
    ul{
        background-color: black;
        color: white;
        li{
            display: inline;
            text-decoration: underline;
        }
    }

}