<div>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Button</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>

    <section>
      <header>Small Size</header>
      <ion-button size="small">Default</ion-button>
      <ion-button size="small" color="secondary">Secondary</ion-button>
      <ion-button size="small" color="tertiary">Tertiary</ion-button>
    </section>

    <section>
      <header>Default Size</header>
      <ion-button color="success">Success</ion-button>
      <ion-button color="warning">Warning</ion-button>
      <ion-button color="danger">Danger</ion-button>
    </section>

    <section>
      <header>Large Size</header>
      <ion-button size="large" color="light">Light</ion-button>
      <ion-button size="large" color="medium">Medium</ion-button>
      <ion-button size="large" color="dark">Dark</ion-button>
    </section>

    <section>
      <header>Block Width</header>
      <ion-button expand="block">A block button</ion-button>
    </section>

    <section class="full-width">
      <header>Full Width</header>
      <ion-button expand="full" color="secondary">A full-width button</ion-button>
    </section>

    <section>
            <!-- Round -->
      <ion-button shape="round">Round Button</ion-button>

      <!-- Fill -->
      <ion-button expand="full" fill="outline">Outline + Full</ion-button>
      <ion-button expand="block" fill="outline">Outline + Block</ion-button>
      <ion-button shape="round" fill="outline">Outline + Round</ion-button>

      <!-- Icons -->
      <br>
      <ion-button>
        <ion-icon slot="start" name="star"></ion-icon>
        Left Icon
      </ion-button>
      <br>
      <ion-button>
        Right Icon
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-button>
      <br>
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </section>
  </ion-content>


</div>>
