<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clase #1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>{{ texto }}</strong>
    <ul>
      <li *ngFor="let persona of personas">{{ persona }}</li>
    </ul>
    <br>
    <input type=text><ion-button (click)="changeText()">Cambiar texto</ion-button>
  </div>
  
</ion-content>
